.App {
  text-align: center;
}

p,button, div{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
